

<div class="columns" >
        <div class="column is-12" ng-show="!tampil" >
                <textarea class="textarea tx" ng-model="textgrab" placeholder="Paste u Text" faker="grab"></textarea>
                <center><br><a class="button is-primary" href="#" ng-click="grab(textgrab)">Grab Email</a></center>
        </div>
         <div class="column is-12"  ng-show="tampil">
                <textarea class="textarea tx" ng-model="hasil" ></textarea>
        </div>
</div>

<center ng-show="tampil"><a class="button is-primary is-outlined" href="#" ng-click="tampil = tampil == true ? false : true;">Run Again</a><br><br>
 </center>